@using HeatPumpController.Web.Services
@implements IDisposable

<div class="row">
    <div class="col-4">
        <p>@Name</p>
    </div>
    <div class="col-4">
        <p>@CurrentValue</p>
    </div>
    <div class="col-4">
        <p>
            <button class="btn btn-primary btn-sm" @onclick="Decrement" disabled="@Disabled">Minus</button>
            @SetPointValue
            <button class="btn btn-primary btn-sm" @onclick="Increment" disabled="@Disabled">Plus</button>
        </p>
    </div>
</div>

@code {

    protected override void OnParametersSet()
    {
        SetPoint.ValueChanged += ValueChangedHandler;
        base.OnParametersSet();
    }

    private string SetPointValue => SetPoint.SetPointValue.ToString("F1");
    private string CurrentValue => SetPoint.Value.ToString("F1");
    private string Name => SetPoint.Name;
    private bool Disabled => !SetPoint.Editable;

    [Parameter]
    public SetPoint SetPoint { get; set; }

    private void Increment()
    {
        SetPoint.SetPointValue += 1;
    }
    
    private void ValueChangedHandler() => InvokeAsync(StateHasChanged);

    private void Decrement()
    {
        SetPoint.SetPointValue -= 1;
    }

    public void Dispose()
    {
        SetPoint.ValueChanged -= ValueChangedHandler;
    }

}