@using HeatPumpController.Web.Services

<div class="row">
    <div class="col-4">@SetPoint.Name</div>
    <div class="col-4">@CurrentValue</div>
    <div class="col-4">
        <p>
            <button class="btn btn-primary btn-sm" @onclick="Decrement">Minus</button>
            @SetPointValue
            <button class="btn btn-primary btn-sm" @onclick="Increment">Plus</button>
        </p>
    </div>
</div>

@code {

    protected override void OnParametersSet()
    {
        SetPoint.DataChanged += () => InvokeAsync(StateHasChanged);
        base.OnParametersSet();
    }

    private string SetPointValue => SetPoint.SetPointValue.ToString("F1");
    private string CurrentValue => SetPoint.CurrentValue.ToString("F1");
    

    [Parameter]
    public SetPoint SetPoint { get; set; }

    private async Task Increment()
    {
        SetPoint.SetPointValue += 1;
    }

    private async Task Decrement()
    {
        SetPoint.SetPointValue -= 1;
    }
}