@page "/"
@using HeatPumpController.Web.Services
@inject IViewModel ViewModel

<PageTitle>Index</PageTitle>

<h1>Vytápění domu</h1>

<SetPointRow SetPoint="ViewModel.WaterTemperature"></SetPointRow>
<SetPointRow SetPoint="ViewModel.HeaterTemperature"></SetPointRow>
<MeasurementRow Measurement="ViewModel.OutTemperature"></MeasurementRow>




