@page "/"
@using HeatPumpController.Web.Services
@inject IViewModel _viewModel

<PageTitle>Index</PageTitle>

<h1>Vytápění domu</h1>

<SetPointRow SetPoint="_viewModel.WaterTemperature"></SetPointRow>
<SetPointRow SetPoint="_viewModel.HeaterTemperature"></SetPointRow>




