@page "/"
@using HeatPumpController.Web.Services
@using System.Globalization
@inject IViewModel ViewModel

<PageTitle>Index</PageTitle>

<h1>Vytápění domu</h1>

<p>
    @DateTime
</p>

<SetPointRow SetPoint="ViewModel.WaterTemperature"></SetPointRow>
<SetPointRow SetPoint="ViewModel.HeaterTemperature"></SetPointRow>
<MeasurementRow Measurement="ViewModel.OutTemperature"></MeasurementRow>

<p>
    <button @onclick="TestRelayButtonClick">@TestRelayButtonText</button>
</p>


@code{

    private string DateTime => ViewModel.CurrentTime.ToString(CultureInfo.InvariantCulture);

    protected override void OnInitialized()
    {
        ViewModel.DataChanged += () => InvokeAsync(StateHasChanged);
        base.OnInitialized();
    }

    private string TestRelayButtonText => "Test Relay " + ViewModel.TestRelayState;
    private void TestRelayButtonClick()
    {
        ViewModel.TestRelayState = !ViewModel.TestRelayState;
    }

}